<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior" name="WCFMemberServiceLibrary.SampleService">
                <clear />
                <endpoint address="http://localhost:8080/MemberService" binding="basicHttpBinding"
                    contract="WCFMemberServiceLibrary.ISampleService" listenUriMode="Explicit">
                </endpoint>
                <endpoint address="net.tcp://localhost:8081/MemberService" binding="netTcpBinding"
                    bindingConfiguration="" contract="WCFMemberServiceLibrary.ISampleService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>